html {
	
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin-bottom: 100px;
	background: url(../img/bg.png) no-repeat center center fixed; 
 	background-size: cover;
}

h1, h2 {
	font-weight: 300;
}

.category {
	margin-top: 7px;
	background-color: white;
	height: 70px;
	border-radius: 5px;
}

.categories {
	margin-left: 5px;
	margin-right: 5px;
}

.description {
	margin-top: 10px;
	background-color: white;
	height: 170px;
	margin-left: 9px;
	margin-right: 9px;
	text-align: center;
	vertical-align: middle;
	line-height: 170px;
	padding: 4px;
}

.description p {
	display: inline-block;
	vertical-align: middle;
	line-height: 22px;
}

.declaration {
	padding-top: 30px;
	padding-bottom: 40px;
	text-align: center;
	color: white;
}

.giftline {
	color: white;
	font-size: 17pt;
	text-align: right;
	vertical-align: middle;
	display:inline-block;
	height: 72px;
	line-height: 72px;
}

.giftline:hover {
	font-weight: bold;
}

.post {
	background-color: lightgray;
	opacity:0.8;
	height: 310px;
	border-radius: 5px;
}

#top-banner {
	border-bottom: white solid 1px;
	padding-top: 8px;
	padding-bottom: 6px;
}

.time-cost {
	margin-top: 7px;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
}

.time-cost p {
	font-size: 23pt;
	font-weight: 400;
}

.time-text {
	font-size: 12pt;
}